<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Matkul</title>
</head>
<body>
    <h2>DETAIL MATKUL</h2>
    <table style="width: 30%; padding: 15px; text-align: justify;">
        <tr>
            <th>No</th>
            <td>: {{ matkul.id }}</td>
        </tr>
        <tr>
            <th>Nama Matkul</th>
            <td>: {{ matkul.namaMatkul }}</td>
        </tr>
        <tr>
            <th>Dosen</th>
            <td>: {{ matkul.dosen }}</td>
        </tr>
        <tr>
            <th>SKS</th>
            <td>: {{ matkul.sks }}</td>
        </tr>
        <tr>
            <th>Deskripsi</th>
            <td>: {{ matkul.deskripsi }}</td>
        </tr>
        <tr>
            <th>Semester</th>
            <td>: {{ matkul.semester }}</td>
        </tr>
        <tr>
            <th>Ruang Kelas</th>
            <td>: {{ matkul.ruangKelas }}</td>
        </tr>
    </table>

    <p>click <a href="{% url 'catat' %}">HERE</a> to add or delete course</p>
</body>
</html>