<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pencatat matkul</title>
</head>
<body>
    <h2>TAMBAH MATA KULIAH</h2>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="submit">
        </form>
    </div>
    {% if tambah %}
        <p>Matkul berhasil ditambahkan</p>
    {% endif %}

    <h2>HAPUS MATA KULIAH</h2>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form2 }}
            <input type="submit" value="submit">
        </form>
    </div>
    {% if hapus %}
        <p>Matkul berhasil dihapus</p>
    {% endif %}

    <h2>DAFTAR MATKUL</h2>
    <p>Klik nama matkul untuk mendapatkan detail</p>
    <table style="width: 20%; padding: 10px; text-align: center;">
        <tr>
            <th>No</th>
            <th>Nama Matkul</th>
        </tr>
        {% for instance in matkul %}
        <tr>
            <td>{{instance.pk}}</td>
            <td> <a href="{% url 'all' id=instance.id %}">{{instance.namaMatkul}}</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>