{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery Wangi</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src='{% static "accordion.js" %}'></script>
</head>
<body>
 
<div id="accordion">
   <div>
    <div class='tombolup'>^</div>
    <div class='tomboldown'>\/</div>  
    <h3>Aktivitas Saat Ini</h3>
    <div>
        <ul>
            <li>pepew</li>
            <li>adbis bisplan</li>
            <li>adbis individu</li>
            <li>adbis refleksi</li>
            <li>ppm report</li>
            <li>ppm individu</li>
            <li>ppm refleksi</li>
            <li>AVR</li>
            <li>Esai</li>
            <li>:)</li>
        </ul>
    </div>
   </div>

   <div>
    <div class='tombolup'>^</div>
    <div class='tomboldown'>\/</div>   
    <h3>Prestasi</h3>
    <div>
        <p><b>404 NOT FOUND</b></p>
    </div>
   </div>

   <div>
    <div class='tombolup'>^</div>
    <div class='tomboldown'>\/</div> 
    <h3>Organisasi/Kepanitiaan</h3>
    <div>
        <ul>
            <li>SISTEM Consulting</li>
            <li>Pramuka UI</li>
            <li>DDP-0</li>
        </ul>
    </div>
   </div>
   
   <div>
    <div class='tombolup'>^</div>
    <div class='tomboldown'>\/</div>   
    <h3>Aktivitas Saat Ini Part 2</h3>
    <div>
        <p><b>MIHOYO STOP KASIH SAYA BUNGA REEEEEEEEEEEEEEE</b></p>
    </div>
   </div> 
  
</div>
 
 
</body>
</html>