<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Kegiatan</title>
</head>
<body>
    <h1 style="text-align: center;">KEGIATAN</h1>
    
    <h3>Tambah Kegiatan</h3>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form1 }}
        <input type="submit" value="Tambah Kegiatan">
    </form>
    {% if kegiatanSukses %}
        <p>Kegiatan Berhasil Ditambahkan</p>
    {% endif %}    

    <h3>List Kegiatan</h3>
    {% for instance in kegiatan %}
        <h4>{{ instance.namaKegiatan }}</h4>
        <p>Peserta:</p>
        {% for orang in instance.orang_set.all %}
        <ul>{{ orang.nama }}</ul>
        {% endfor %}
        <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="pkKegiatan" value="{{ instance.pk }}">
            {{ form2 }}
            <input type="submit" value="Daftar">
        </form>
        {% if daftarSukses %}
            <p>Daftar Berhasil</p>
        {% endif %}
    {% endfor %}
</body>
</html>