<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Error</title>
</head>
<body>
    <h1>Login gagal. Silahkan coba lagi</h1>
    <a href="{% url 'loginbase' %}">Login</a>
</body>
</html>