<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wangi Wangi</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Log In">
    </form>
    <p>Click <a href="{% url 'signup' %}">here</a> to sign up</p>
</body>
</html>