{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocogoat Wangi</title>
</head>
<body>
    {% if success %}
    <h1>Selamat, {{ request.user.username }}, anda berhasil login</h1>
    <h2>Ini ada Cocogoat</h2>
    <img src="{% static 'cocogoat.png' %}" alt="cocogoat where" style="max-width: 50vh; max-height: 25vh;">
    <a href="{% url 'logout' %}">Logout</a>
    {% endif %}

    {% if failed %}
    <h1>Silahkan login terlebih dahulu</h1>
    <a href="{% url 'loginbase' %}">Login</a>
    {% endif %}
</body>
</html>