<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wangi Signup</title>
</head>
<body>
    <h1>SIGN UP</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Sign Up">
    </form>
    {% if success %}
    <p>Signup success. Click <a href="{% url 'loginbase' %}">here</a> to login</p>
    {% endif %}
</body>
</html>